<div class="container contenido">
    <div class="hero-unit">
        <h1>Hello</h1>
        <p>welcome to our web page</p>
        <p><a href="#" class="btn">More info</a></p>
    </div>
    <div class="row">

        <div class="span4">
            <h2>Headline</h2>
            <img src="http://placehold.it/300x200" alt="Placeholder">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti commodi distinctio similique architecto. Optio sapiente modi minus reprehenderit dolorem unde inventore veritatis obcaecati, illo molestiae eius quibusdam, soluta doloremque beatae!</p>
        </div>
        <div class="span4">
            <h2>Headline</h2>
            <img src="http://placehold.it/300x200" alt="Placeholder">
            <p>Sed voluptatibus aut amet, rem dicta sequi perferendis voluptatem aperiam saepe architecto, unde quaerat atque culpa temporibus! Modi, repellendus libero ipsa esse, commodi ad ex voluptas, dolorum facilis a perspiciatis!</p>
        </div>


        <div class="span4">
            
            <h2>Photos</h2>
            <div class="grid">
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
                <a href="#"><img src="http://placehold.it/200x200" alt="Placeholder Photo"></a>
            </div>
            
        </div>
    </div>
</div>