<footer class="footer">
	<div class="content-warp">
		<h2>Let's Keep in Touch!</h2>
		
		<!-- Social media links. Add or remove any networks. -->
		<div class="contact-info">
			<a href="mailto:email@example.com">email@example.com</a>
			<a href="http://christinatruong.com">christinatruong.com</a>
			<a href="https://twitter.com/christinatruong">Twitter</a>
			<a href="https://www.linkedin.com/in/christinatruong/">LinkedIn</a>
			<a href="http://fb.me/christinacodes">Facebook</a>
		</div>
		
		<p>Copyright 2017 by Christina Truong</p>
	</div>
</footer>