<footer class="footer" id="contact">
    <div class="content-warp">
        <h2>Let's Keep in Touch!</h2>
        
        <!-- Social media links. Add or remove any networks. -->
        <div class="contact-info">
            <a href="mailto:email@example.com">
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                <span class="sr-only">email@example.com</span>
            </a>
            <a href="http://christinatruong.com">
                <i class="fa fa-external-link" aria-hidden="true"></i>
                <span class="sr-only">christinatruong.com</span>
            </a>
            <a href="https://twitter.com/christinatruong">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
            </a>
            <a href="https://www.linkedin.com/in/christinatruong/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <span class="sr-only">LinkedIn</span>
            </a>
            <a href="http://fb.me/christinacodes">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
            </a>
        </div>
        
        <p>Copyright 2017 by Christina Truong</p>
    </div>
</footer>