<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if title}}{{title}} | {{/if}} MyProject</title>

<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png">
 --><!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
<!-- <script src="https://use.typekit.net/srs1uxc.js"></script> -->
<script>try{Typekit.load({ async: false });}catch(e){}</script>