<header class="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">Widget, Inc</a>
                <ul class="nav"> 
                    <li class="active"><a href="#">Home</a></li>
                    <li ><a href="#">About us</a></li>
                    <li ><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>