<!-- <header class="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">Widget, Inc</a>
                <ul class="nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li ><a href="emmet.html">About us</a></li>
                    <li ><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</header> -->
<header class="header" id="about">
    <nav>
        <a href="#about">About</a>
        <a href="#work">Work Eperience</a>
        <a href="#education">Education</a>
        <a href="#contact">Contact</a>
    </nav>
    <div class="content-warp">
        <img class="profile-img col-narrow" src="images/christina-truong.png" alt="Christina Truong">
        <div class="col-wide">
            <h1>Christina Truong</h1>
            <h2>Web Developer + Educator</h2>
            <p>As a developer, I specialize in creating modular and scalable front-end architectures. As an educator, I focus on creating inclusive learning environments, instructor training and curriculum development. I'm also a certified <a href="https://www.lesmills.com/workouts/fitness-classes/bodypump/" target="_blank">BODYPUMP</a> Instructor for GoodLife Fitness!</p>
        </div>
    </div>
    <a href="pdf/resume.pdf" class ="btn download" download>Download PDF</a>
</header>